<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402121363350-7c5rjo51rcanv0r5kv9kivimhgr62r0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402121363350-7c5rjo51rcanv0r5kv9kivimhgr62r0r</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Lgu5g2WQpEriVLJg30NLQI9F67MlMZU</string>
	<key>GCM_SENDER_ID</key>
	<string>402121363350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.collins993.flutterecommerce</string>
	<key>PROJECT_ID</key>
	<string>cyrpto-dash</string>
	<key>STORAGE_BUCKET</key>
	<string>cyrpto-dash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402121363350:ios:007ec1325b3684fdd6d7b7</string>
</dict>
</plist>